 

footer {
    padding: 80px 0;
    text-align: center;
    color: #1a1a1a;
    font-family: 'Poppins', Courier, monospace;
}

footer p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}
footer p:hover{
    color: #FF0077;
}

.bgDark { 
    background-color: #1a1a1a; 
}

.rating i {
    color: white;
    font-size: 20px;
}
 

footer a {
    color: #ffffff;
    font-size: 30px;
}

footer a:hover {
    color: #FF0077;
    text-decoration: none;
}

footer h6{
    color: #ffffff;
    font-weight: bold;
}

.footer-container{
    background: #ffffff;
}

 
.logos-r{
    width: 30px;
    height: 30px;
    color: #ffffff;
}
 

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

.logoFooter{
    width: 300px;
    height: 100px;
}
