<footer class="bgDark">
    <div class="container">
        <div class="row justifi-content-around">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <img class="logoFooter" src="/../assets/img/logo.png" alt="">
                <a href="">
                    <p> &copy; MonoDLDev </p>
                </a>
                <div class="row justify-content-center ml-1">
                    <a href=""><i class="fab fa-instagram ml-1"></i></a>
                    <a href=""><i class="fab fa-facebook ml-1"></i></a>
                    <a href=""><i class="fab fa-twitter-square ml-1"></i></a>
                    <a href=""><i class="fab fa-linkedin ml-1"></i></a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h6>Contacto</h6>
                <a href="">
                    <p>deleon.lerma.17163@itsmante.edu.mx</p>
                </a>
                <a href="">
                    <p>(+52)831-25-42-110</p>
                </a>
                <br>
                <h6>Dirección</h6>
                <a href="">
                    <p>CD Mante Tamaulipas, Mexico</p>
                </a>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <h6>Nosotros</h6>
                <a href="">
                    <p>¿Que somos? </p>
                </a>
                <a href="">
                    <p>Creditos</p>
                </a>
                <a href="">
                    <p>Perfil</p>
                </a>
                <br>
                <h6>Politicas y privacidad</h6>
                <a href="">
                    <p>Términos y condiciones</p>
                </a>
                <a href="">
                    <p>Derechos de autor</p>
                </a>

            </div>
        </div>
    </div>
</footer>