.btn-registrarse{
    color: #FF0077;
    border: 1px solid #FF0077;
}

.btn-registrarse:hover{
    color: #ffffff;
    background: #FF0077;
}

.btn-iniciar-sesion{
    color: #ffffff;
    background: #FF0077;
}
 
.btn-iniciar-sesion:hover{
    background:#ff00778c;
}